@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$yellow: #f0df21;

p {
    @apply mb-4;
}

.overview {
}

.video-banner {
    background-color: $yellow;
    padding-bottom: 56.12%;
}
