name: Build Site

on:
  pull_request:
    branches: [master, staging, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: NPM Install
        run: npm ci

      - name: Build site
        run: npm run build
